body {
   background-color: grey;
}

#LucieS {
   background-color: initial;
   font-family: initial;
   color: darkred;

}

#KaterinaO {
   background-color: pink;
   font-family: initial;
   color:purple;

}

#TatanaK{
   background-color: lavender;
   font-family: 'Segoe UI';
   color:purple;
   
#PetraS {
   background-color: orange;
   font-family:initial;
   color: brown;

}

#TatanaK {
   background-color: initial;
   font-family: initial;
   color: initial;

}

#KarinP {
   background-color: silver;
   font-family: initial;
   color: initial;


}
