body {
   background-color: initial;
}

#LucieS {
   background-color: initial;
   font-family: initial;
   color: darkred;

}

#KaterinaO {
   background-color: initial;
   font-family: initial;
   color: initial;

}

#PetraS {
   background-color: initial;
   font-family: initial;
   color: initial;

}

#TatanaK {
   background-color: initial;
   font-family: initial;
   color: initial;

}

#KarinP {
   background-color: initial;
   font-family: initial;
   color: initial;


}
